.black {
    background: black;
}

.above-game{
    background: lightskyblue;
    margin: 0px -30px;
}

.text-white{
    color: white;
    margin: 10px;
}

#sample_div{
    margin: auto;
}

#sample_image{
    margin: 20px;
}