.black {
    background: black;
}

.above-game {
    background: lightskyblue;
    margin: 0px -30px;
}

.text-white {
    color: white;
    margin: 10px;
}

#sample_div {
    margin: auto;
}

#sample_image {
    margin: 20px;
}

.question_text {
    color: white;
}

.winner {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    -webkit-animation: move 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}