{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static '2048-master/style/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'game/css/memory.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'game/css/game.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/css/bootstrap-slider.min.css">


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">Competitive Game</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if not request.user.is_authenticated %}
                <form class="navbar-form navbar-right" method='POST' action='{% url "login" %}'>{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            {% else %}

                <form class="navbar-form navbar-right" method='POST' action='{% url "logout" %}'>{% csrf_token %}
                    <button type="submit" class="btn btn-success">Sign out</button>
                </form>
                <div><a class="navbar-brand">[{{ request.user.email }}]</a></div>
            {% endif %}

            {% if login == "false" %}
                <div><a class="alert-warning">login failed.</a></div>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>This is a game where you try to beat your opponents.</p>
    </div>
</div>

{% load tz %}
{% localtime on %}

    {% block content %}


    {% endblock %}

{% endlocaltime %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'game/javascript/game.js' %}"></script>
<script src="http://code.highcharts.com/4.2.6/highcharts.js"></script>
<script src="https://code.highcharts.com/4.2.6/modules/exporting.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
