{% extends "run_game.html" %}
{% load staticfiles %}

{% block javascript %}
    <script src="{% static 'game/javascript/memory.js' %}"></script>
{% endblock %}

{% block game %}

    <form name="hidden_data" method="post">
        <input type="hidden" id="" value="{{ active_tab }}"/>
    </form>


    <div class="container">
        <div id="picbox" class="">
                  <span id="boxbuttons" class="">
                    <span class="button">
                      <span id="counter">0</span>
                      Clicks
                    </span>
                    <span id="resetButton"  class="button">Next Round</span>
                  </span>
            <div id="boxcard" class=""></div>
        </div>
    </div>
{% endblock %}
