{% extends "run_game.html" %}
{% load staticfiles %}

{% block javascript %}
    <script src="{% static 'game/javascript/memory.js' %}"></script>
{% endblock %}

{% block game %}

    <div id="memory"></div>
    <form name="hidden_data" method="post">
        <input type="hidden" id="grut_id" value="{{ game_round_user_task.id }}"/>
    </form>


    <div class="container">
        <div id="picbox" class="">
                  <span id="boxbuttons" class="">
                    <span class="button">
                      <span id="counter">0</span>
                      Clicks
                    </span>
                    <span id="clear_count" class="button ">{% if game_round_user_task.score %}{{ game_round_user_task.score }}{% else %}0{% endif %} Points</span>
                  </span>
            <div id="boxcard" class=""></div>
        </div>
    </div>
{% endblock %}
