{% extends "run_game.html" %}
{% load staticfiles %}

{% block javascript %}
    <script src="{% static 'game/javascript/multiple_choice.js' %}"></script>
{% endblock %}

{% block game %}

    <div class="hidden" id="question_id">{{ question.id }}</div>

    <div class="container">
        <h3 id="question_text" class="question_text">{{ question.question_text }}</h3>
        <form id="question_choices" class="question_text" style="list-style-type:none">

            <input type="hidden" id="grut_id" value="{{ game_round_user_task.id }}"/>
            {% for choice in question_choices %}
                <input name="choices" type="radio" value="{{ choice.choice_code }}"> {{ choice.choice_text }}<br>
            {% endfor %}

        </form>

        <button id="make_choice" class="btn btn-default">Click me</button>

    </div>



{% endblock %}
