{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block javascript %}
    <script src="{% static 'game/javascript/memory.js' %}"></script>
{% endblock %}

{% block content %}
    <div>
        <h1>Task Complete:</h1>

        <div class="hidden" id="dim_level">{{ dim_level }}</div>
        <div class="hidden" id="game_plan_code">{{ game_plan.code }}</div>
        <div class="hidden" id="game_round_id">{{ game_round.id }}</div>
        <div class="hidden" id="game_round_user_id">{{ game_round_user.id }}</div>
        <div class="hidden" id="game_round_task_id">{{ game_round_task.id }}</div>
        <div class="hidden" id="game_round_user_task_id">{{ game_round_user_task.id }}</div>

    </div>

    <div>
        <table>
            <tr>
                <td id="compchart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
                <td id="pctchart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
            </tr>
        </table>
        <h1>Session Complete. Final Totals & Averages:</h1>
        <table>
            <tr>
                <td id="piechart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
                <td id="sum_pct_chart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
            </tr>
            <tr>
                <td id="summarychart"></td>
            </tr>
        </table>
    <button id="button" class="autocompare">Slice</button>
    </div>

{% endblock %}