{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block javascript %}
    <script src="{% static 'game/javascript/memory.js' %}"></script>
{% endblock %}

{% block content %}
    <div>

        {% if not started %}
            {% if not continued %}
                <h2>Welcome to the {{ game_plan.name }} Round
            {% endif %}
            <h3>Game Start Time: {{ game_round.date_time }}</h3>

            {% if  continued %}

                <div>
                    <table>
                        <tr>
                            <td id="compchart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
                            <td id="pctchart" style="min-width: 310px; height: 400px; margin-top: 30"></td>
                        </tr>
                    </table>
                </div>

                <input class="btn btn-success" type="button" value="Continue Game" onclick="location.href='{% url 'start_game' game_round_user.id %}'"/>
            {% else %}
                <input class="btn btn-success" type="button" value="Start Game" onclick="location.href='{% url 'start_game' game_round_user.id %}'"/>
            {% endif %}


            <h5>There are currently {{ user_count }} users logged into this Game Round </h5>

        {% endif %}


        {% if show_user_brightness == True %}

            <div class="text-center">
                Please Choose Brightness Level:<br>
                <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100"/>
                <input type='button' class="btn btn-default" value='Go!' id='get_going'/>
            </div>

        {% elif show_user_brightness == False %}
            This task has been preset to {{ brightness }} percent bright.
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="99" data-slider-enabled="false" data-slider-step="1" data-slider-value="{{ brightness }}"/>
            <input type='button' class="btn btn-default" value='Go!' id='get_going'/>
        {% else %}
            <div class="hidden" id="brightness_level">{{ brightness_level }}</div>
        {% endif %}


        <div class="hidden" id="game_plan_code">{{ game_plan.code }}</div>
        <div class="hidden" id="game_round_user_id">{{ game_round_user.id }}</div>
        <div class="hidden" id="game_round_task_id">{{ game_round_task.id }}</div>
        <div class="hidden" id="game_round_user_task_id">{{ game_round_user_task.id }}</div>

        <div class="black">
            <div id="screen">
                {% block game %}
                    {% if show_user_brightness == True %}
                        <div class="text-center" id="sample_div">
                            <h3 class="text-white">Sample Text and Image</h3>
                            <img id="sample_image" src="{% static 'game/images/sample.gif' %}" width="600"/>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}